# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import pandas as pd

In [2]:
# Carregando a base de dados 
base_dados = pd.read_csv('demo01.csv')
base_dados.head(3)

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False

In [3]:
# Contando os valores ausentes

base_dados.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [4]:
# Tipo de dados de cada variável 
tipo = base_dados.dtypes
tipo

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [5]:
# Contando a quantidade de maus
base_dados['mau'].value_counts()

False    16260
True       390
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [6]:
novo_tipo = list(tipo)
novo_tipo

[dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('bool')]

In [7]:
colunas_base =base_dados.columns
colunas_base

colunas_lista = list(colunas_base)
colunas_lista
print(type(colunas_lista))

<class 'list'>

In [8]:
qtd_cat = []


for item in colunas_lista:
    base_dados[item].unique()
    count1 = len(base_dados[item].unique())
    qtd_cat.append(count1)
    

qtd_cat

[2, 2, 2, 8, 5, 5, 5, 6, 5298, 3005, 1, 2, 2, 2, 9, 2]

In [9]:
# DataFrame com a variável, o tipo e o número de categorias
coluna_tipo = pd.DataFrame(novo_tipo)
coluna_tipo

coluna_tipo['cat'] = colunas_lista
coluna_tipo

coluna_tipo['qtd_categorias'] = qtd_cat
coluna_tipo

          0                    cat  qtd_categorias
0    object                   sexo               2
1    object       posse_de_veiculo               2
2    object        posse_de_imovel               2
3     int64             qtd_filhos               8
4    object             tipo_renda               5
5    object               educacao               5
6    object           estado_civil               5
7    object        tipo_residencia               6
8   float64                  idade            5298
9   float64          tempo_emprego            3005
10    int64         possui_celular               1
11    int64  possui_fone_comercial               2
12    int64            possui_fone               2
13    int64           possui_email               2
14  float64  qt_pessoas_residencia               9
15     bool                    mau               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [10]:
base_dados.columns

Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'qtd_filhos',
       'tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia', 'idade',
       'tempo_emprego', 'possui_celular', 'possui_fone_comercial',
       'possui_fone', 'possui_email', 'qt_pessoas_residencia', 'mau'],
      dtype='object')

In [11]:
coluna_tipo

          0                    cat  qtd_categorias
0    object                   sexo               2
1    object       posse_de_veiculo               2
2    object        posse_de_imovel               2
3     int64             qtd_filhos               8
4    object             tipo_renda               5
5    object               educacao               5
6    object           estado_civil               5
7    object        tipo_residencia               6
8   float64                  idade            5298
9   float64          tempo_emprego            3005
10    int64         possui_celular               1
11    int64  possui_fone_comercial               2
12    int64            possui_fone               2
13    int64           possui_email               2
14  float64  qt_pessoas_residencia               9
15     bool                    mau               2

In [12]:
base_dados['estado_civil'].value_counts()

Married                 11680
Single / not married     2035
Civil marriage           1283
Separated                 945
Widow                     707
Name: estado_civil, dtype: int64

In [13]:
base_dados.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [14]:
base_dados['posse_de_imovel'].value_counts()

Y    11176
N     5474
Name: posse_de_imovel, dtype: int64

In [15]:
base_dados['sexo'] = base_dados['sexo'].map({'F':1,'M':0})

base_dados['sexo'].unique()

array([0, 1], dtype=int64)

In [16]:
base_dados.sexo

0        0
1        1
2        1
3        0
4        1
        ..
16645    1
16646    1
16647    0
16648    0
16649    1
Name: sexo, Length: 16650, dtype: int64

In [17]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [18]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [19]:
base_dados['posse_de_veiculo'] = base_dados['posse_de_veiculo'].map({'N':0,'Y':1})

base_dados['posse_de_veiculo'].unique()

array([1, 0], dtype=int64)

In [20]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo           int64
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [21]:
base_dados['posse_de_imovel'] = base_dados['posse_de_imovel'].map({'N':0,'Y':1})

base_dados['posse_de_imovel'].unique()

array([1, 0], dtype=int64)

In [22]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo           int64
posse_de_imovel            int64
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [23]:
base_dados['tipo_renda'].value_counts()

Working                 8565
Commercial associate    3826
Pensioner               2800
State servant           1451
Student                    8
Name: tipo_renda, dtype: int64

In [24]:
base_dados['tipo_renda'] = base_dados['tipo_renda'].map({'Working':0,'Commercial associate':1,'Pensioner':2,'State servant':3,'Student':4,})

base_dados['tipo_renda'].unique()

array([0, 1, 3, 2, 4], dtype=int64)

In [25]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo           int64
posse_de_imovel            int64
qtd_filhos                 int64
tipo_renda                 int64
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [26]:
base_dados['educacao'].value_counts()

Secondary / secondary special    11245
Higher education                  4551
Incomplete higher                  649
Lower secondary                    188
Academic degree                     17
Name: educacao, dtype: int64

In [27]:
base_dados['educacao'] = base_dados['educacao'].map({'Secondary / secondary special':0,'Higher education':1,'Incomplete higher':2,'Lower secondary':3,'Academic degree':4,})

base_dados['educacao'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [28]:
base_dados['estado_civil'].value_counts()

Married                 11680
Single / not married     2035
Civil marriage           1283
Separated                 945
Widow                     707
Name: estado_civil, dtype: int64

In [29]:
base_dados['estado_civil'] = base_dados['estado_civil'].map({'Married':0,'Single / not married':1,'Civil marriage':2,'Separated':3,'Widow':4,})

base_dados['estado_civil'].unique()

array([0, 1, 2, 4, 3], dtype=int64)

In [30]:
base_dados['tipo_residencia'].value_counts()

House / apartment      14974
With parents             738
Municipal apartment      520
Rented apartment         227
Office apartment         120
Co-op apartment           71
Name: tipo_residencia, dtype: int64

In [31]:
base_dados['tipo_residencia'] = base_dados['tipo_residencia'].map({'House / apartment':0,'With parents':1,'Municipal apartment':2,'Rented apartment':3,'Office apartment':4,'Co-op apartment':5})

base_dados['tipo_residencia'].unique()

array([0, 3, 2, 1, 5, 4], dtype=int64)

In [32]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo           int64
posse_de_imovel            int64
qtd_filhos                 int64
tipo_renda                 int64
educacao                   int64
estado_civil               int64
tipo_residencia            int64
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [33]:
base_dados['mau'].value_counts()

False    16260
True       390
Name: mau, dtype: int64

In [34]:
base_dados['mau'] = base_dados['mau'].map({False:0,True:1})

base_dados['mau'].unique()

array([0, 1], dtype=int64)

In [35]:
base_dados.dtypes

sexo                       int64
posse_de_veiculo           int64
posse_de_imovel            int64
qtd_filhos                 int64
tipo_renda                 int64
educacao                   int64
estado_civil               int64
tipo_residencia            int64
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                        int64
dtype: object

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [36]:
cruzamento = pd.crosstab(index=base_dados['possui_email'],columns=base_dados['mau'])

cruzamento

mau               0    1
possui_email
0             14810  360
1              1450   30

In [37]:
cruzamento2 = pd.crosstab(index=base_dados['posse_de_veiculo'],columns=base_dados['mau'])

cruzamento2

# o elemento que mais explica a coluna mau é a coluna posse de veículo, pois esse elemento é um bom indicador de renda

mau                  0    1
posse_de_veiculo
0                 9931  247
1                 6329  143

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [38]:
# Arquivo salvo em formato CSV
base_dados.to_csv('base_dados_base')

In [40]:
y = base_dados

In [42]:
x = base_dados.drop('mau',axis=1)

In [43]:
x

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia
0,0,1,1,0,0,0,0,0,58.832877,3.106849,1,0,0,0,2.0
1,1,0,1,0,1,0,1,0,52.356164,8.358904,1,0,1,1,1.0
2,1,0,1,0,1,0,1,0,52.356164,8.358904,1,0,1,1,1.0
3,0,1,1,0,0,1,0,0,46.224658,2.106849,1,1,1,1,2.0
4,1,1,0,0,0,2,0,0,29.230137,3.021918,1,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,1,0,1,0,0,0,2,0,54.109589,9.884932,1,0,0,0,2.0
16646,1,0,1,0,1,0,0,0,43.389041,7.380822,1,1,1,0,2.0
16647,0,1,1,0,0,0,0,0,30.005479,9.800000,1,1,0,0,2.0
16648,0,1,1,0,0,0,0,0,30.005479,9.800000,1,1,0,0,2.0
16649,1,0,1,0,2,1,0,0,33.936986,3.630137,1,0,1,1,2.0